<div class="container mt-3">
  <h2>New User</h2>
  <form action="/auth/register" method="POST">
    <div>
      <label>First Name: </label>
      <input name="firstname" type="text" placeholder="Fabien" />
    </div>
    <div>
      <label>Last Name: </label>
      <input name="lastname" type="text" placeholder="Lim" />
    </div>
    <div>
      <label>Date of Birth: </label>
      <input name="dateOfBirth" type="text" placeholder="DD/MM/YYYY" />
    </div>
    <div>
      <label>Phone Number: </label>
      <input name="phone" type="number" placeholder="87654321" />
    </div>
    <div>
      <label>Email Address: </label>
      <input name="email" type="text" placeholder="fabienlim@email.com" />
    </div>
    <div>
      <label>Password: </label>
      <input name="password" type="password" placeholder="********" />
    </div>
    <button type="submit" class="btn btn-dark">Register</button>
  </form>
</div>