<div class="container mt-3">
  <h2>Create Drug Information</h2>
  <form action="/create" method="POST" enctype="multipart/form-data">
    <div>
      <label>Drug Name: </label>
      <input name="name" type="text" placeholder="* required" />
    </div>
    <div>
      <label>Drug Class: </label>
      <input name="drugClass" type="text" placeholder="* not required" />
    </div>
    <div>
      <label>Recommended Dose: </label>
      <input name="recommendedDose" type="text" placeholder="* not required" />
    </div>
    <div>
      <label>Description: </label>
      <input name="description" type="text" placeholder="* not required" />
    </div>
    <div>
      <label>Image Upload: </label>
      <input name="imageUrl" type="file" accept="image/jpeg, image/jpg, image/png" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>